#wcfm-main-contentainer {
  margin-top: 0px;
}

#wcfm-main-content {
  padding: 10px;
  max-width: 1600px;
  margin: 0px auto;
}

.wcfm-site-name a {
  font-size: 30px;
  display: block;
  font-weight: 600;
  color: #555555;
  padding-left: 10px;
}

a.add_new_wcfm_ele_dashboard, a.wcfm_import_export {
  height: 30px;
}

a.add_new_wcfm_ele_dashboard span, a.wcfm_import_export span {
  padding-top: 3px;
}

.wcfm-action-icon span  {
  padding-top: 5px;
}

@media only screen and (max-width: 414px) {
  #wcfm-main-content {
    padding: 10px;
  }
}