.wcfm-admin-menu-head {
  background: #f1f1f1;
  padding: 0 2px 0 2px !important;
  height: 32px !important;
}

.wcfm-admin-menu span {
  font-size: 15px;
  padding: 0 4px 0 2px !important;
}

.wcfm_admin_message {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0px 2px 1px #555;
  box-shadow: 0px 1px 1px #555;
}

.wcfm_admin_message p {
  padding: 5px;
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  color: #555;
}

.wcfm_admin_message .primary {
  background: #00897b;
  padding: 5px;
  padding-left: 10px;
  padding-right: 10px;
  margin-left: 6px;
  border-radius: 5px;
  color: #fff;
  border: 1px solid #00897b;
  text-decoration: none;
  font-weight: 800;
  letter-spacing: 1px;
  -webkit-box-shadow: 0px 2px 1px #555;
  box-shadow: 0px 2px 1px #555;
}

.wcfm_admin_message .primary:hover {
  border: 1px solid #000000;
  background: #000000;
}

@media only screen and (max-width: 782px) {
  #wpadminbar #wp-admin-bar-wcfm-menu {
    display: block;
    position: static;
  }

  .wcfm-admin-menu-head {
    padding: 6px 2px 6px 2px !important;
  }
}