#wcfm-main-contentainer {
  width: 100%;
  margin: 20px auto;
}

div#wcfm-main-contentainer form {
  max-width: 100% !important;
}

#wcfm-content {
  display: table;
  position: relative;
  border: #cccccc 1px solid;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  width: 100%;
  padding: 0px;
  clear: both;
}

#wcfm_menu {
  display: table-cell;
  width: 150px;
  border-right: #cccccc 1px solid;
  -moz-border-radius: 3px 0px 0px 3px;
  -webkit-border-radius: 3px 0px 0px 3px;
  border-radius: 3px 0px 0px 3px;
  background: #000000;
  padding-bottom: 100px;
}

.wcfm-collapse {
  display: table-cell;
  vertical-align: top;
  background-color: #f7f7f7 !important;
  visibility: visible !important;

  -moz-border-radius: 0px 3px 3px 0px;
  -webkit-border-radius: 0px 3px 3px 0px;
  border-radius: 0px 3px 3px 0px;

  margin-left: auto;
  margin-right: auto;
  padding-bottom: 70px;
}

.wcfm_menu_logo {
  padding: 10px;
  padding-top: 40px;
  height: 240px;
}

.wcfm_menu_logo h4, .wcfm_menu_logo h4 a {
  font-weight: 700;
  color: #ffffff;
  font-size: 17px;
  text-align: center;
  margin: 0px;
  padding: 10px 0px 10px 0;
}

.wcfm-page-headig {
  width: 100%;
  height: 40px;
  -moz-border-radius: 0px 3px 0px 0px;
  -webkit-border-radius: 0px 3px 0px 0px;
  border-radius: 0px 3px 0px 0px;
  border-bottom: #cccccc 1px solid;
  font-size: 20px;
  padding-left: 10px;
  font-weight: 600;
  color: #555;
  line-height: 2em;
  background: -moz-linear-gradient(top, #f3f6f9 0%, #d3d3d3 100%, #7db9e8 100%);
  background: -webkit-linear-gradient(top, #f3f6f9 0%,#d3d3d3 100%,#7db9e8 100%);
  background: linear-gradient(to bottom, #f3f6f9 0%,#d3d3d3 100%,#7db9e8 100%);
}

.wcfm_header_panel {
  display: inline-block;
  float: right;
  margin-right: 10px;
  font-size: 20px;
}

.wcfm_header_panel a.fa {
  font: normal normal normal 20px/1 FontAwesome !important;
}

.wcfm_header_panel a, .wcfm_header_panel span {
  color: #555;
  margin-left: 12px;
  text-decoration: none;
  position: relative;
}

.wcfm_header_panel .unread_notification_count {
  background-color: #FF7400;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: white;
  font-weight: bold;
  padding: 1px 3px;
  font-size: 12px;

  position: absolute;
  top: -6px;
  right: -6px;
}
.wcfm_header_panel .unread_notification_count.notice_count { background-color: #4096EE; }

.wcfm_header_panel a:hover, .wcfm_header_panel a.active {
  color: #00897b;
}

#wcfm_page_load {
  z-index: 1000;
  border: none;
  margin: 0px;
  padding: 0px;
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  background: rgb(255, 255, 255);
  opacity: .1;
  cursor: wait;
  position: absolute;
  display: none;
}

#wcfm_page_load .fa {
  display: inline-block;
  height: 50px;
  width: 50px;
  line-height: 50px;
  font-size: 50px;
  position: absolute;
  top: 50%;
  left: 52%;
  margin-left: 30px;
  margin-top: -70px;
  color: #00897b;
}

.wcfm-collapse-content {
  padding: 10px;
  opacity: 1;
}

div.wcfm-collapse-content h2 {
  font-size: 20px;
  display: table-cell;
  float: left;
  font-weight: 600;
  color: #00897b;
  margin-top: 6px;
}

.wcfm-collapse .wcfm-container, .wcfm-tabWrap {
  background: #ffffff;
  padding: 5px;
  -moz-border-radius: 0px 0px 3px 3px;
  -webkit-border-radius: 0px 0px 3px 3px;
  border-radius: 0px 0px 3px 3px;
  border: 0px;
  border-bottom: 1px solid #00897b;
  -webkit-box-shadow: 0px 2px 1px #cccccc;
  box-shadow: 0px 1px 1px #cccccc;
}
.wcfm-tabWrap { padding: 0px; }

.wcfm-collapse .collapse {
  height: auto !important;
}

#wcfm_menu .wcfm_menu_items {
  position: relative;
  width: 100%;
  display: table;
}

#wcfm_menu .wcfm_menu_items a, .wcfm-collapse a { border-bottom: 0; }

#wcfm_menu .wcfm_menu_items a.wcfm_menu_item {
  width: 100%;
  height: 75px;
  display: table-cell;
  text-align: center;
  position: relative;
  cursor: pointer;
  border-top: 1px solid #f0f0f0;
  border-bottom: 1px solid #f0f0f0;
  background: #3d3d3d;
  text-decoration: none;
  vertical-align: middle;
  position: relative;
  -webkit-box-shadow: 0px 2px 1px #cccccc;
  box-shadow: 0px 1px 1px #cccccc;
}

#wcfm_menu .wcfm_menu_item span {
  display: block;
  font-size: 30px;
  color: #ffffff;
}

#wcfm_menu .wcfm_menu_item span.text {
  font-size: 15px;
  font-weight: 600;
}

#wcfm_menu .wcfm_menu_items a.active { border: 0px; background: #00897b; }
#wcfm_menu .wcfm_menu_items a.active span { color: #ffffff; }


#wcfm_menu .wcfm_menu_items a.active::after {
  right: -1px;
  border: 15px solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: #f7f7f7;
  top: 50%;
  margin-top: -15px;
}

#wcfm_menu span.wcfm_sub_menu_items {
  position: absolute;
  background: #3d3d3d;
  padding: 5px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.9);
  -box-shadow: 0 0 8px rgba(0, 0, 0, 0.9);
  line-height: 13px;
  font-size: 15px;
  width: 85px;
  margin-left: 10px;
  z-index: 99999;
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  text-align: center;
}

#wcfm_menu .wcfm_menu_items:hover .wcfm_sub_menu_items {
  opacity: 1;
  visibility: visible;
}

#wcfm_menu span.wcfm_sub_menu_items a { font-weight: 800; color: #ffffff; }

.qtip-wcfm-menu-css {
  background: #fff;
  color: #000;
  font-size: 12px;
  font-weight: 800;
}

.screen-reader-text {
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  position: absolute !important;
  height: 1px;
  width: 1px;
}

.screen-reader-text:focus {
  background-color: #f1f1f1;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
  clip: auto !important;
  color: #21759b;
  display: block;
  font-size: 14px;
  font-weight: bold;
  height: auto;
  line-height: normal;
  padding: 15px 23px 14px;
  position: absolute;
  left: 5px;
  top: 5px;
  text-decoration: none;
  width: auto;
  z-index: 100000; /* Above WP toolbar */
}

a.add_new_wcfm_ele_dashboard, a.wcfm_import_export {
  background: #3d3d3d;
  padding: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  border:#f0f0f0 1px solid;
  border-bottom: 1px solid #00897b;
  color: #ffffff;
  float: right;
  text-align: center;
  text-decoration: none;
  margin-bottom: 8px;
  margin-left: 10px;
  -webkit-box-shadow: 0 1px 0 #ccc;
  box-shadow: 0 1px 0 #ccc;
  display: table-cell;
}
a.add_new_wcfm_ele_dashboard span, a.wcfm_import_export span { margin-right: 3px; margin-left: 3px; }
a.add_new_wcfm_ele_dashboard:hover, a.wcfm_import_export:hover { background-color: #00897b; color: #fff; }

.wcfm_wp_admin_view {
  float: right;
  margin-left: 10px;
  font-size: 25px;
  color: #e66345;
  text-decoration: none;
  border: 0px;
  display: table-cell;
}

.wcfm_wp_admin_view:hover {
  color: #2ea2cc;
  text-decoration: none;
  border: 0px;
}

.wcfm_wp_admin_view span {
  vertical-align: text-top;
}

.wcfm_screen_manager_dummy, .wcfm_screen_manager {
  float: right;
  margin-left: 10px;
  margin-top: -2px;
  font-size: 25px;
  color: #00897b;
  text-decoration: none;
  border: 0px;
  display: table-cell;
  cursor: pointer;
}
.wcfm_screen_manager_dummy:hover, .wcfm_screen_manager:hover { color: #000000; }

input.wcfm_submit_button, .wcfm_add_attribute, input.upload_button, input.remove_button {
  float: right;
  margin-top: 10px;
  margin-left: 10px;

  background: #3d3d3d none repeat scroll 0 0;
  border: #f0f0f0 1px solid;
  border-bottom: 1px solid #00897b;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  font-weight: 700;
  letter-spacing: 0.046875em;
  line-height: 1;
  padding: 0.84375em 0.875em 0.78125em;
  -webkit-box-shadow: 0 1px 0 #ccc;
  box-shadow: 0 1px 0 #ccc;
  text-transform: uppercase;
}

input.wcfm_submit_button:hover, .wcfm_add_attribute:hover, input.upload_button:hover, input.remove_button:hover, .multi_input_block_manupulate:hover {
  background: #00897b none repeat scroll 0 0;
  color: #ffffff !important;
}

.wcfm_clearfix {
  clear: both;
}

.fa-currency { font-weight: 700; }

.wcfm-collapse .wcfm-container {
  width: 100%;
}

/* WCFM Multi Input */
.multi_input_block {
  border: 1px solid #dfdfdf;
  border-radius: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  padding: 10px;
  margin-bottom: 10px;
  display: inline-block;
  width: 100%;
}

.multi_input_block_dummy { display: none; }

.multi_input_block_manupulate {
  float: right;
  margin: 2px !important;
  font-size: 20px;
  cursor: pointer;
  padding: 1px;
}

/* WCFM Input Box */
p.description {
  font-size: 12px;
  font-style: italic;
  font-weight: normal;
}

p.wcfm_title {
  font-size: 15px;
  margin-bottom: 5px !important;
  font-style: normal;
  width: 39%;
  display: inline-block;
}

#wcfm-main-contentainer input[type="text"], #wcfm-main-contentainer select, #wcfm-main-contentainer input[type="number"], #wcfm-main-contentainer input[type="time"], #wcfm-main-contentainer input[type="search"], #wcfm-main-contentainer textarea {
  background-color: #fff !important;
  border: 1px solid #ccc !important;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

#wcfm-main-contentainer input[type="text"]:focus, #wcfm-main-contentainer select:focus, #wcfm-main-contentainer input[type="number"]:focus, #wcfm-main-contentainer input[type="time"]:focus, #wcfm-main-contentainer input[type="search"]:focus, #wcfm-main-contentainer textarea:focus {
  border-color: #5d9dd9 !important;
}

#wcfm-main-contentainer .select2-search input[type="search"] { border: 0px !important; }

input[type="text"].wcfm-text, select.wcfm-select, input[type="number"].wcfm-text, input[type="time"].wcfm-text, textarea.wcfm-textarea {
  padding: 5px;
  width: 60%;
  margin-bottom: 10px;
  font-size: 15px;
  display: inline-block;
  box-shadow: none;
}

/* WCFM Checkbox Styling */
input.wcfm-checkbox {
  border: 1px solid #ccc;
  background: #fff;
  color: #555;
  clear: none;
  cursor: pointer;
  display: inline-block;
  line-height: 0;
  height: 16px;
  outline: 0;
  padding: 0!important;
  text-align: center;
  vertical-align: middle;
  width: 16px;
  min-width: 16px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  box-shadow: inset 0 1px 2px rgba(0,0,0,.1);
  -webkit-transition: .05s border-color ease-in-out;
  transition: .05s border-color ease-in-out;
  -webkit-appearance: none;
}

input.wcfm-checkbox:checked:before {
  float: left;
  display: inline-block;
  /* vertical-align: middle; */
  /* width: 16px; */
  font: normal normal normal 14px/1 FontAwesome;
  /* speak: none; */
  /* -webkit-font-smoothing: antialiased; */
  -moz-osx-font-smoothing: grayscale;
  content: "\f00c";
  color: #00897b;
}

/* WCFM Table Styling */
#wcfm-main-contentainer table, #wcfm-main-contentainer table td, #wcfm-main-contentainer table th {
  border: 0;
  border-width: 0;
  border-left: 0;
  border-left-width: 0;
  border-right: 0;
  border-right-width: 0;
}

#wcfm-main-contentainer table thead td, #wcfm-main-contentainer table thead th, #wcfm-main-contentainer table tfoot td, #wcfm-main-contentainer table tfoot th {
  border-bottom: 1px solid #ccc;
  background-color: #f8f8f8;
  font-weight: 700;
  color: #555;
}

#wcfm-main-contentainer table tfoot td, #wcfm-main-contentainer table tfoot th {
  border-top: 1px solid #ccc;
  border-bottom: 0px;
}

/* WCFM Data Table Styling */
.dataTables_wrapper .dataTables_filter input {
  width: 120px;
  height: 35px;
  margin-top: 4px;
  background-color: #fff !important;
  border: 1px solid #ccc !important;
}

.dataTables_wrapper select, .wcfm_products_filter_wrap .select2-container, .wcfm_products_filter_wrap .select2-selection--single {
  font-size: 14px;
  max-width: 150px;
  height: 35px;
  margin: 0px 5px 10px 5px;
  vertical-align: top;
}
.wcfm_products_filter_wrap .select2-selection--single { margin: 0px; }

.dataTables_wrapper .dataTables_paginate .paginate_button {
  padding: 0em 0.2em !important;
}

.dataTables_length { margin-top: 4px !important; }
.dataTables_length select { max-width: 75px; width: 60px !important; min-width: 15px !important; padding: 5px !important; }
.wcfm_filters_wrap { margin-top: 4px !important; opacity: .5; display: inline-block; text-align: center; }
.wcfm_filters_wrap input { margin-bottom: 10px; }

table.dataTable.row-border tbody th, table.dataTable.row-border tbody td, table.dataTable.display tbody th, table.dataTable.display tbody td {
  border-top: 1px solid #ddd !important;
}

/** Hide wp-media additional elements **/
.media-menu a:nth-child(2),
.media-menu a:nth-child(3),
.media-menu a:nth-child(4),
.attachment-info .details .edit-attachment {
  display: none !important;
}

@media only screen and (max-width: 768px) {
  .wcfm_header_panel {
    font-size: 18px;
  }

  .wcfm_menu_logo {
    height: 245px;
  }
}

@media only screen and (max-width: 767px) {
  .display {
    display: block !important;
  }
}

@media only screen and (max-width: 640px) {
  #wcfm_menu {
    width: 120px;
  }

  .wcfm_menu_logo {
    height: 245px;
  }

  .wcfm_header_panel {
    font-size: 16px;
  }

  a.add_new_wcfm_ele_dashboard span.text { display: none; }

  p.wcfm_title {
    width: 90%;
  }

  p.wcfm_title.checkbox_title {
    width: 75%;
  }

  input[type="text"].wcfm-text, select.wcfm-select, input[type="number"].wcfm-text {
    width: 100%;
  }

  textarea.wcfm-textarea {
    width: 100%;
  }

  input.wcfm-checkbox {
    margin-right: 5%;
  }
}

@media only screen and (max-width: 414px) {
  #wcfm_menu {
    width: 80px;
  }

  .wcfm_menu_logo {
    height: 195px;
  }

  .wcfm-page-headig {
    font-size: 18px;
  }

  .wcfm-page-heading-text {
    display: none;
  }

  div.wcfm-content {
    max-width: 250px;
    padding: 0px !important;
  }

  #wcfm_menu .wcfm_menu_items a.wcfm_menu_item {
    height: 60px;
  }

  #wcfm_menu .wcfm_menu_item span {
    font-size: 25px;
  }

  #wcfm_menu .wcfm_menu_item span.text {
    font-weight: 400;
    display: none;
  }

  div.wcfm-collapse-content h2 {
    width: 100%;
    display: block;
  }

  .wcfm_header_panel a.fa {
    font-size: 15px !important;
  }
}