#wcfm_menu .wcfm_menu_items a.wcfm_menu_item {
  height: 55px;
  text-align: left;
  padding-left: 10px;
  position: relative;
  border-top: 1px solid #f0f0f0;
  border-bottom: 0px;
}

#wcfm_menu .wcfm_menu_items a.active {
  border-top: 0px;
}

#wcfm_menu .wcfm_menu_item span {
  display: inline-block;
  font-size: 17px;
  color: #ffffff;
}

#wcfm_menu .wcfm_menu_item span.text {
  font-size: 15px;
  font-weight: 600;
}

#wcfm_menu .wcfm_menu_items a.wcfm_menu_item::before {
  position: absolute;
  width: 50%;
  left: 0;
  bottom: 0;
  content : "";
  height  : 1px;
  border-bottom: 1px solid #00897b;
}

#wcfm_menu span.wcfm_sub_menu_items {
  position: absolute;
  background: #3d3d3d;
  padding: 5px;
  -moz-border-radius: 0px 3px 3px 0px;
  -webkit-border-radius: 0px 3px 3px 0px;
  border-radius: 0px 3px 3px 0px;
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.9);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.9);
  -box-shadow: 0 0 8px rgba(0, 0, 0, 0.9);
  line-height: 20px;
  font-size: 15px;
  width: 85px;
  margin-left: 2px;
  z-index: 99999;
  top: 50%;
  transform: translateY(-50%);
  left: 100%;
  opacity: 0;
  visibility: hidden;
  transition: all 0.5s;
  text-align: center;
  // padding-top: 15px;
  // padding-bottom: 15px;
  margin-top: 2px;
}

.wcfm-page-headig {
  border-bottom: 1px solid #f0f0f0;
  position: relative;
}

.wcfm-page-headig::before {
  position: absolute;
  width: 30%;
  left: 0;
  bottom: 0;
  content : "";
  height  : 1px;
  border-bottom: 1px solid #00897b;
}

@media only screen and (max-width: 414px) {

  #wcfm_menu .wcfm_menu_items a.wcfm_menu_item {
    height: 40px;
    padding-left: 0px;
    text-align: center;
  }

  #wcfm_menu .wcfm_menu_item span {
    font-size: 20px;
  }

  #wcfm_menu .wcfm_menu_items a.wcfm_menu_item::before {
    width: 65%;
  }

  .wcfm-page-headig::before {
    width: 45%;
  }
}