#wcfm_home {
  display: inline-block;
  float: left;
  margin: 0px 5px;
}

.required {
  color: red;
}

.wcfm-clearfix {
  clear: both;
}

.wcfm-info, .wcfm-success, .wcfm-warning, .wcfm-error, .wcfm-validation, .wcfm-wcfmu {
  border: 1px solid;
  border-radius: 2px;
  margin: 10px 0px;
  padding:15px 10px 15px 50px;
  background-repeat: no-repeat;
  background-position: 10px center;
  display: none;
}

.wcfm-info span, .wcfm-success span, .wcfm-warning span, .wcfm-error span, .wcfm-validation span, .wcfm-wcfmu span {
  font-size: 20px;
  vertical-align: text-bottom;
  padding-right: 5px;
}

.wcfm-info { color: #00529B; }

.wcfm-success { color: #4F8A10; }

.wcfm-warning { color: #9F6000; }

.wcfm-error { color: #D8000C; }

.wcfm-wcfmu1 { color: #D15600; }

.wcicon-status-on-hold:before { content: "\e033"; }

.wcicon-status-pending { color: #ffba00; }
.wcicon-status-processing { color: #73a724; }
.wcicon-status-completed { color: #4096EE; }
.wcicon-status-failed { color: #d0c21f; }
.wcicon-status-cancelled { color: #a00; }
th .wcicon-status-processing { color: #43454b !important; }

.wcfm-action-icon {
  display: inline-block;
  margin: 0 4px 4px 0;
  cursor: pointer;
  vertical-align: baseline;
  position: relative;
  padding: 0!important;
  height: 2em!important;
  width: 2em;
  color: #555;
  border-color: #ccc;
  background: #f7f7f7;
  -webkit-box-shadow: 0 1px 0 #ccc;
  box-shadow: 0 1px 0 #ccc;
  text-decoration: none;
  font-size: 13px;
  line-height: 27px;
  border-width: 1px;
  border-style: solid;
  -webkit-appearance: none;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  white-space: nowrap;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 1px solid #00897b !important;
}

.wcfm-action-icon:hover {
  border-color: #555;
  background: #f1f1f1;
  text-decoration: none;
}

.wcfm_product_title, .wcfm_coupon_title, .wcfm_order_title, .wcfm_booking_title, .wcfm_appointment_title, .wcfm_auctions_title, .wcfm_listing_title, .wcfm_dashboard_item_title { font-weight: bold; color: #21759b; }

.img_tip {
  background: url("../images/question_mark.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
  display: inline-block;
  height: 12px;
  vertical-align: -1px;
  width: 12px;
  cursor: help;
  margin-left: 5px;
}

.wcfm_buttons {
  left: 0px;
  right: auto;
}
.wcfm_buttons {
  position:absolute;
  color: #555;
  background-color: #ddd;
  z-index: 999;
  width: auto;
  height:auto;
  padding: 3px;
  border-radius: 3px;
}

.wcfm_buttons .wcfm_button {
  display: block;
  float: left;
  width: 32px;
  height:24px;
  margin:0px;
  text-align: center;
  border-radius: 3px;
  font-size: 18px;
  color: #555;
  text-decoration: none;
  padding: 0px 7px;
}

.wcfm_buttons .wcfm_button_separator {
  color: #fff;
  float: left;
}

#ui-datepicker-div { display: none; }

.qtip-wcfm-core-css {
  background: #fff;
  color: #000;
  border-color: #00897b;
}

table.dataTable.display tbody tr td:last-child {
  text-align: center;
}

.wcfm_mark_as_recived {
  background: #555;
  padding: 3px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  color: #fff;
  float: right;
  text-align: center;
  text-decoration: none;
  margin-bottom: 8px;
  margin-left: 10px;
  -webkit-box-shadow: 0 1px 0 #ccc;
  box-shadow: 0 1px 0 #ccc;
}

a.wcfm_mark_as_recived:hover { background-color: #00897b; }