@import 'variables';
@import 'common';


#wcfm-main-content {
  padding: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
  color:$base-color;
  // background-color:$gray;

  text-rendering: optimizeLegibility;

-webkit-font-smoothing: antialiased;

  h1,h2,h3,h4,h5,h6{
    font-family:'Lato', sans-serif;
    font-weight: 400;
  }
}

.wcfm-site-name a {
  font-size: 30px;
  display: block;
  font-weight: 600;
  color: #555555;
}

a.add_new_wcfm_ele_dashboard, a.wcfm_import_export {
  height: 30px;
}

a.add_new_wcfm_ele_dashboard span, a.wcfm_import_export span {
  padding-top: 3px;
}

.wcfm_wp_admin_view, .wcfm_screen_manager  {
  padding-top: 5px;
}

.wcfm-action-icon span  {
  padding-top: 5px;
}



div.wcfm-collapse-content h2, #wcfm_page_load .fa, .wcfm_header_panel a:hover, .wcfm_header_panel a.active, ul.wcfm_products_menus li a, .wcfm-container-box .wcfm-container .booking_dashboard_section_icon, .wcfm_bookings_gloabl_settings, .fields_collapser, .wcfm_gloabl_settings, .wcfm_screen_manager_dummy, .wcfm_screen_manager, .woocommerce-reports-wide .postbox div.stats_range ul li.active a, .wcfm_reports_menus li a, .sales_schedule, .woocommerce-exporter-wrapper .wc-progress-form-content .woocommerce-importer-done::before, .woocommerce-exporter-wrapper .woocommerce-exporter .woocommerce-importer-done::before, .woocommerce-exporter-wrapper .woocommerce-importer .woocommerce-importer-done::before, .woocommerce-importer-wrapper .wc-progress-form-content .woocommerce-importer-done::before, .woocommerce-importer-wrapper .woocommerce-exporter .woocommerce-importer-done::before, .woocommerce-importer-wrapper .woocommerce-importer .woocommerce-importer-done::before, .woocommerce-progress-form-wrapper .wc-progress-form-content .woocommerce-importer-done::before, .woocommerce-progress-form-wrapper .woocommerce-exporter .woocommerce-importer-done::before, .woocommerce-progress-form-wrapper .woocommerce-importer .woocommerce-importer-done::before, .woocommerce-exporter-wrapper .wc-progress-steps li.done, .woocommerce-importer-wrapper .wc-progress-steps li.done, .woocommerce-progress-form-wrapper .wc-progress-steps li.done, .woocommerce-exporter-wrapper .wc-progress-steps li.active, .woocommerce-importer-wrapper .wc-progress-steps li.active, ul.wcfm_orders_menus li a, ul.wcfm_bookings_menus li a, .wc_bookings_calendar_form .wc_bookings_calendar td .bookings ul li a strong, .wc_bookings_calendar_form .tablenav .views a, .wc_bookings_calendar_form .tablenav .date_selector a, ul.wcfm_appointments_menus li a, .wcfm-container-box .wcfm-container .appointment_dashboard_section_icon, .wcfm_appointment_gloabl_settings, .wc_appointments_calendar_form .wc_appointments_calendar td .appointments ul li a strong, .wc_appointments_calendar_form .calendar_wrapper ul li a strong, .wc_appointments_calendar_form .tablenav .views a, .wc_appointments_calendar_form .tablenav .date_selector a, .mapp-m-panel a, .woocommerce-reports-wide .postbox div.stats_range ul li.custom.active, .sub_checklist_toggler{
  color:$deep-marron;
}

.wcfm-collapse{
  background-color:#eceef2 !important;
}


.page_collapsible, .collapse-close{
  background-color: white;
  color: $deep-marron;
  font-family:'Lato', sans-serif;
}

.page_collapsible{
  border: 0;
  border: 0;
  padding: 42px 20px 15px 20px;
  font-weight: 400;
  font-size: 1.3em;
  padding-left: 42px;
  padding-top: 20px;

  .fa{
    color: #2f3b4c;
  }
}

.wcfm_product_title, .wcfm_coupon_title, .wcfm_order_title, .wcfm_booking_title, .wcfm_appointment_title, .wcfm_auctions_title, .wcfm_listing_title, .wcfm_dashboard_item_title{
  font-family:'Lato', sans-serif;
      font-weight: normal;
    color: $deep-marron;
    font-size: 16px;
}

.dataTables_wrapper .dataTables_filter input{
  min-width: 180px !important;
}



.wcfm-container,.page_collapsible,.wcfm-tabWrap,.wcfm_dashboard_stats_block{
  border-radius: 6px !important;
}