#wcfm-main-contentainer {
  font-family: 'Open Sans', sans-serif;
  font-size:14px;
  color:$base-color;
  // background-color:$gray;

  text-rendering: optimizeLegibility;

-webkit-font-smoothing: antialiased;

margin-top:0px !important;
margin-bottom:0px !important;

  h1,h2,h3,h4,h5,h6{
    font-family:'Lato', sans-serif;
    font-weight: 400;
  }
}

.wcfm-site-name a {
  font-size: 30px;
  display: block;
  font-weight: 600;
  color: #555555;
}

.wcfm-collapse{
  background-color:#eceef2 !important;
}


.wcfm-container,.wcfm-tabWrap,.wcfm_dashboard_stats_block{
  border-radius: 6px !important;
}


.wcfm_submit_button{
  border-radius:8px !important;
}



.wcfm-action-icon,.paginate_button{
  border-radius: 6px !important;
}


.page_collapsible{
  border-radius: 0px;
}

input.wcfm_submit_button, .wcfm_add_attribute, input.upload_button, input.remove_button{
  border-radius:6px !important;
}


.wcfm_menu_logo{
  display: none;
}

.wcfm-page-headig{
  height:55px !important;
}


.wcfm-collapse .wcfm-container{
  border-radius:6px !important;
}




.collapse-open{
      background: #2a3344 !important;
}

.page_collapsible{
  background: #2f3b4c;
}


.wc_bookings_calendar_form{
  #calendar-bookings-filter{
    min-height:40px !important;
  }

  .date_selector{
    select{
      min-height:40px !important;
    }
  }
}


#wcfm-content{
  border:none !important;
}

#wcfm-main-contentainer input[type="text"]{
  max-width:100%
}

#poststuff{
  li.custom{
    .button{
      height: 40px !important;
      border-radius: 6px !important;
    }
  }
}



.collapse-close span,.collapse-open span {display:none!important;}

.page_collapsible{text-transform:none;font:inherit;color:#b0bec5;font-size:16px;}


a.fa.fa-power-off.text_tip{
  display:none !important;
}

.wcfm-collapse .wcfm-tabWrap .wcfm-container{
  @media screen and (min-width: 641px){
    width:75% !important;
  }
}

div#wcfma_analytics_expander.wcfm-content{min-height:65px;
}
// .post-type-archive-product .site-content > a{
//   display: none !important;
// }

// .single.single-product form#wcfm_quick_edit_form{
//   input[type="text"],input[type="number"]{
//     height:40px !important;
//   }
// }

// #wcfm_quick_edit_button, #wcfm_screen_manager_button{
//   border-radius:6px !important;
// }