a.add_new_wcfm_ele_dashboard, a.wcfm_import_export, input.wcfm_submit_button, .wcfm_add_attribute, input.upload_button, input.remove_button{
  background:#38a4dd;
}

a.add_new_wcfm_ele_dashboard, a.wcfm_import_export{
  // background: #f3f6f9;
  padding: 5px;

  // border-radius: 0;
  border: #fefefe 1px solid;
  border-bottom: 1px solid #00897b;
  color: white;
  float: right;
  text-align: center;
  text-decoration: none;
  margin-bottom: 8px;
  margin-left: 10px;
  box-shadow: 0 1px 0 #ccc;
  display: table-cell;
  border-radius: 6px !important;
}

.woocommerce-exporter-wrapper .wc-progress-steps li.active::before, .woocommerce-importer-wrapper .wc-progress-steps li.active::before, .woocommerce-progress-form-wrapper .wc-progress-steps li.active::before, .woocommerce-exporter-wrapper .wc-progress-steps li.done::before, .woocommerce-importer-wrapper .wc-progress-steps li.done::before, .woocommerce-progress-form-wrapper .wc-progress-steps li.done::before, .woocommerce-exporter-wrapper .wc-progress-steps li.done::before, .woocommerce-importer-wrapper .wc-progress-steps li.done::before, .woocommerce-progress-form-wrapper .wc-progress-steps li.done::before, .woocommerce-exporter-wrapper .wc-progress-steps li.done, .woocommerce-importer-wrapper .wc-progress-steps li.done, .woocommerce-progress-form-wrapper .wc-progress-steps li.done, .woocommerce-exporter-wrapper .wc-progress-steps li.active, .woocommerce-importer-wrapper .wc-progress-steps li.active, .wcfm_vacation_msg, a.add_new_wcfm_ele_dashboard:hover, a.wcfm_import_export:hover{
  background-color: #2f3b4c;
}