.collapse-open{
  &:before{
    content: " ";
    border-left: 3px solid #00bfe8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}


// Booking Availibility Rules
#_wc_booking_availability_rules{
  #_wc_booking_availability_rules_type_0{
    width:73% !important;
  }
}
// Booking Cost Rules
#_wc_booking_cost_rules{
  #_wc_booking_cost_rules_type_0{
    width:73% !important;
  }

  #_wc_booking_cost_rules_base_modifier_0{
    width:10% !important;
  }
  #_wc_booking_cost_rules_block_modifier_0{
    width:10% !important;
  }
}