.wcfm_dashboard_welcome{
  // width:100%;
  // margin: 0 auto;
  // text-align: center;
  display: none;

}

// .wcfm_dashboard_welcome_avatar {
//   width: 90px;
//     height: 90px;
//     background: #fff;
//     border: none;
//     border-radius: 50%;
//     padding: 5px;
//     position: relative;
//     left: 35px;
//     top: -25px;
//     display: inline-block;

//     @media only screen and (min-device-width : 320px) and (max-device-width : 767px) {

//       left:0 !important;
//       top:0 !important;
// }

//   img{
//     // z-index:999999;
//   }
// }

// .wcfm_dashboard_welcome_container{
//   margin-left:20px;
//   display: inline-block;
//   text-align: left;
//   // z-index:1000;
// }

// .wcfm_dashboard_welcome_content{
//   background:transparent;
//   padding-left: 20px;
//   border:none;
// }