#wcfm_menu{
  background-color:#2f3b4c;
  font-family:'Lato', sans-serif;
}
.wcfm-page-headig{
  border-bottom: 0;

  width: 100%;
  height: 60px;

  vertical-align:middle;
  padding-top:10px;

  border-radius: 0px 3px 0px 0px;
  border-bottom: 0;
  font-size: 20px;
  padding-left: 10px;
  font-weight: 600;
  color: #555;
  line-height: 2em;
  background: -moz-linear-gradient(top, $white 0%, $white 100%, $white 100%);
  background: -webkit-linear-gradient(top, $white 0%, $white 100%, $white 100%);
  background: linear-gradient(to bottom, $white 0%,$white 100%,$white 100%);

  .fa{
    color:#2f3b4c;
  }
}

.wcfm-collapse-content{
  background-color:#eceef2;
}

.wcfm-page-heading-text{
  font-family:'Lato', sans-serif;
  font-weight:400;
}


.page_collapsible::before, input.wcfm_submit_button, .wcfm_add_attribute, input.upload_button, input.remove_button, a.add_new_wcfm_ele_dashboard, a.wcfm_import_export, #wcfm_menu .wcfm_menu_items a.wcfm_menu_item::before, .wcfm-page-headig::before, .wcfm_dashboard_welcome_content::before, .wcfm_dashboard_stats_block, .wcfm-container-box .wcfm-container{
  border-bottom-color: transparent;
}


#wcfm_menu .wcfm_menu_items a.wcfm_menu_item, #wcfm_menu span.wcfm_sub_menu_items{
  background-color:transparent;
  background:transparent;

  color:#b0bec5;
}
#wcfm_menu span.wcfm_sub_menu_items{
  display: none;
}
// #wcfm_menu span.wcfm_sub_menu_items{
//   background: #2f3b4c;
//       transition: all 0.5s !important;
//     box-shadow: none;
//     margin-left:1px;
//         width: 110px;
//         border-radius: 0px 3px 3px 0px;
//     a{
//       color:white;
//       text-shadow:none;
//       font-weight:400;
//     }
// }

// #wcfm_menu span.wcfm_sub_menu_items a{
//     height: 40px;
//     display: block;
//     padding: 10px 5px;
// }

#wcfm_menu .wcfm_menu_items a.active{
  background:#2a3344;
}

#wcfm_menu .wcfm_menu_items a.wcfm_menu_item{
  border-top:0;
  border-top-color:transparent;
  box-shadow:none;
  padding-left:15px;
}

#wcfm_menu .wcfm_menu_item span, #wcfm_menu span.wcfm_sub_menu_items a{
  color:#b0bec5;
}

#wcfm_menu .wcfm_menu_item span.text{
  font-weight:400;
  margin-left:5px;
  font-size:16px;

}

#wcfm_menu .wcfm_menu_items a.active::before{

  content: " ";
  border-left: 3px solid #00bfe8;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
#wcfm_menu .wcfm_menu_items a.active::after {
  right: 0;
  border: none;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-right-color: transparent;
  top: 0;
  margin-top: 0;
}


// .wcfm_menu_logo h4, .wcfm_menu_logo h4 a{
//   color:$off-white;
//   font-weight:400;
//   font-size:24px;
// }

#wcfm-main-contentainer select{

  border:1px solid #111;

  &.wcfm-select{
      &:after{
      content:"\f0d7";
      font: normal normal normal 20px/1 FontAwesome !important;
    }
  }

}



#wcfm-main-contentainer input[type="text"], #wcfm-main-contentainer select, #wcfm-main-contentainer input[type="number"], #wcfm-main-contentainer input[type="time"], #wcfm-main-contentainer input[type="search"], #wcfm-main-contentainer textarea{
  padding:10px !important;
}

#_wc_booking_cancel_limit, #_wc_booking_min_date, #_wc_booking_max_date, #_wc_booking_buffer_period, #_wc_accommodation_booking_cancel_limit, #_wc_accommodation_booking_min_date, #_wc_accommodation_booking_max_date{
  padding:10px !important
}

input[type="text"].wcfm-text, select.wcfm-select, input[type="number"].wcfm-text, input[type="time"].wcfm-text, textarea.wcfm-textarea{
  padding:10px !important
}

// input[type="number"].wcfm-text{
//   width:30%;
//   padding:10px !important;
// }

#wcfm-main-contentainer input[type="number"]{
  // width:30%;
  padding:10px !important;
}

#_wc_booking_cancel_limit, #_wc_booking_min_date, #_wc_booking_max_date, #_wc_booking_buffer_period, #_wc_accommodation_booking_cancel_limit, #_wc_accommodation_booking_min_date, #_wc_accommodation_booking_max_date{
  width:10% !important;

}

#wcfm-main-contentainer{
   select {
      // width:30% !important;

      &#_wc_booking_duration_type{
          // width:20% !important;
          padding:10px !important;
        }
      &#_wc_booking_duration_unit{
        // width:20% !important;
        padding:10px !important;
      }

      &#_wc_booking_default_date_availability,&#_wc_booking_check_availability_against,&#_wc_booking_restricted_days{
        // width:30% !important;
      }

      &#_wc_booking_restricted_days{
        .select2-container{
          // width:28% !important;
        }
      }

      &#_wc_accommodation_booking_cost_rules_type_0{
        // width:70% !important;
      }
    }
}

#wcfm-main-contentainer input[type=number]{
  &#_wc_booking_duration{
    // width:10% !important;
    padding: 10px !important
  }

  &#usage_limit,&#limit_usage_to_x_items,&#usage_limit_per_user{
    // width:40% !important;
  }
}


#coupons_manage_general_expander{
  width:50%;
}

#wcfm-main-contentainer{
  #coupons_manage_general_expander{
    select{
      width:60% !important;
    }
  }
}

.woocommerce-reports-wide .postbox div.stats_range ul li.custom div input.range_datepicker, .woocommerce-reports-wide .postbox div.stats_range ul li.custom form input.range_datepicker{
  max-width:200px;
  width:150px;
}


#wcfm_products_manage_form_inventory_expander{
  input[type="text"].wcfm-text{
    // width:30%;
  }
}


.woocommerce-reports-wide .postbox div.stats_range ul li.custom{
  padding:3px 10px;
}
.woocommerce-reports-wide .button{
  background:$light-blue;
  color:white;
  height:38px;
  vertical-align: top;
  padding:3px 10px;


  &:hover{
    background:#2f3b4c;
  }
}

#wcfm-main-contentainer input[type="text"], #wcfm-main-contentainer select, #wcfm-main-contentainer input[type="number"], #wcfm-main-contentainer input[type="time"], #wcfm-main-contentainer input[type="search"], #wcfm-main-contentainer textarea{
  border-radius: 6px !important;
}

.wcfm_menu_items.wcfm_menu_wcfm-capability{
  display: none !important;
}