.wcfm_dashboard_stats{
  margin-top:0px;
  margin-bottom:30px;

  .wcfm_dashboard_stats_block{


    .fa{


      &.fa-currency{
        background-color:#ff8761;
      }

      &.fa-money{
        background-color:#57bdde;
      }

      &.fa-cubes{
        background-color:#b198dc;
      }

      &.fa-cart-plus{
        background-color:#6dc7be;
      }
    }

  }
}


.wcfm_dashboard_latest_topic a, .wcfm_dashboard_wc_status_data strong, .wcfm_dashboard_wc_status_data strong .woocommerce-Price-amount, .wcfm_dashboard_stats_block strong, .wcfm_dashboard_stats_block strong .woocommerce-Price-amount {
    font-family:'Lato', sans-serif;
    font-weight: 400;
    font-size: 18px;
    color: #2f3b4c;
}


.wcfm-container{
  .wcfm-content{

  }
}


.wcfm_dashboard_more_stats{
  .wcfm-container{
    .wcfm-content{
      .wc_status_list{
        margin-left: 10px;
      }
    }
  }
}

.wcfm_dashboard_latest_topics{
  .wcfm-container{
    .wcfm-content{
      margin-left: 28px;
    }
  }
}

#wcfm-main-contentainer select{
  &#calendar-bookings-filter{
    width:200px !important;
  }
}


.wc_bookings_calendar_form .tablenav .date_selector{
  select{
    width: 100px !important;
    padding-top: 2px !important;

  }
}
